{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock extra_css %}

{% block content %}
    <div id="homepage">
        <!-- First Section -->
        <section id="intro" class="homepage-section">
            <video autoplay loop muted class="background-video d-block d-md-none">
                <source src="{% static 'home/videos/lickeen_forest_loop_walk_mobile.mp4' %}" type="video/mp4">
            </video>
            
            <video autoplay loop muted class="background-video d-none d-md-block">
                <source src="{% static 'home/videos/waterville_boardwalk_gallery_directions_desktop.mp4' %}" type="video/mp4">
            </video>            
            <div class="overlay">
                <h1 class="catch-phrase"><strong>Nature and Wildlife Photography
                    <br>
                    Landmarks
                    <br>
                    Historical Sites
                    <br>
                    Experimental photography</strong></h1>
                <div class="product-range">
                    <span>Digital Downloads</span> - 
                    <span>Printed Wall Art</span> - 
                    <span>Gifts</span>
                </div>
                <div class="lower-content">

                    <!-- Digital Sign Section -->
                    <article class="digital-sign" aria-label="image of information board with special offer and timer">
                        <h2 class="mb-0"><strong>Special Offer</strong></h2>
                        <img src="{% static 'home/images/advertising-board.png' %}" alt="Information Board" class="info-board">
                        <div class="sign-content">
                            <div class="sign-upper">
                                <p>{{ special_offer.text }}</p>
                            </div>
                            <div class="sign-lower">
                                <h2 id="countdown-timer"></h2>
                            </div>
                        </div>
                    </article>

                    <!-- Road sign page navigation -->
                    <article class="road-signs">
                        <img id="gallery-sign" src="{% static 'home/images/gallery_sign.png' %}" alt="This way to the gallery">
                        <img id="about-sign" src="{% static 'home/images/about_sign.png' %}" alt="About Us">
                    </article>
                </div>
            </div>
        </section>

        <!-- Second Section (Hidden Initially) -->
        <section id="cottage-animation" class="homepage-section hidden">
            <div class="animated-background"></div>
            <audio id="walking-sound" src="{% static 'audio/walking-on-gravel.mp3' %}"></audio>
        </section>

        <!-- About Section (Initially Hidden) -->
        <section id="about-section" class="homepage-section hidden">
            <div class="about-content">
                <img src="{% static 'home/images/profile-pic.jpg' %}" alt="Your Picture" class="profile-pic">
                <p class="about-text">This is the about text. You can edit this from the admin panel.</p>
            </div>
        </section>
    </div>
{% endblock %}
