{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

    <!-- Apply your custom CSS class -->
    <div class="container-fluid page-under-construction">
        <section aria-label="Logo of shop" class="contact-logo-wrapper text-center my-5">
            <img src="{% static 'images/logo/404_page_logo.png' %}"
                    class="contact-logo-img w-25 mt-5"
                    alt="Logo with shop name Creative Spark Images and an Art Deco Portrait of a female photographer">
        </section>

        <!-- Fixed typo: "cleas" to "class" -->
        <h2 class="text-center">The page you are looking for is not available.</h2>

        <p class="text-center">
            You can return to the shop using the button below.
        </p>

        <div class="text-center">
            <a href="{% url 'gallery_page' %}" class="btn btn-custom my-5">
                Return to shop
            </a>
        </div>
    </div>
{% endblock %}
