{% extends "allauth/account/base.html" %}
{% load i18n %}

{% block allauth_title %}Welcome Back!{% endblock allauth_title %}
{% block allauth_subtitle %}
<p class="text-center">
    Don't have an account yet?
    <a href="{{ signup_url }}" class="signup-link"><strong>Sign up here</strong></a>.
</p>
{% endblock allauth_subtitle %}

{% block inner_content %}
<form method="POST" action="{% url 'account_login' %}" class="allauth-form">
    {% csrf_token %}

    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
    {% endif %}

    <div class="form-group">
        {{ form.login.label_tag }}
        {{ form.login }}
    </div>

    <div class="form-group">
        {{ form.password.label_tag }}
        {{ form.password }}
    </div>

    <div class="d-flex justify-content-between align-items-center mt-3">
        <a href="{% url 'account_reset_password' %}" class="forgot-password">{% trans "Forgot Password?" %}</a>
        <button type="submit" class="btn btn-primary allauth-btn">{% trans "Sign In" %}</button>
    </div>
</form>
{% endblock %}
