{% extends "allauth/account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center">
    <div class="card allauth-card">
        <div class="card-body">
            <h2 class="text-center">{% trans "Change Password" %}</h2>
            <p class="text-center">{% trans 'Your password is now changed.' %}</p>
        </div>
    </div>
</div>
{% endblock content %}
