.license-section {
    background-color: #f9f9f9;
    margin: 7rem auto 5rem;
    padding: 2rem;
    border-radius: 10px;
}

.license-card {
    background-color: #fff;
    border: 2px solid #ddd;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    cursor: pointer;
}

.license-name {
    font-size: 2rem;
    color: #333;
}

.license-description {
  transition: max-height 0.3s ease-in-out;
  overflow: scroll;
  max-height: 50vh; 
  margin-top: 1rem;
}

.summernote-content img {
    max-width: 100%;
    height: auto;
}
