/* Search bar styles */
.search-bar {
    margin: auto;
}

.search-bar input {
    padding: 10px;
}

/* Card styles */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 8px solid #000;
    overflow: hidden;
    margin: 10px;
    padding: 2px 2px 20px 2px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    transition: min-height 0.3s ease-in-out;
}

.card-img {
    object-fit: cover;
    height: 25vh;
    padding: 5px;

}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Keeps button at the bottom */
}

.card-text {
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.read-more-btn {
    cursor: pointer;
    color: #403e3e;;
    border: none;
    background: none;
    font-weight: bold;
    padding: 0;
}

.read-more-btn:hover {
    text-decoration: underline;
}