{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'shop/css/shop.css' %}">
{% endblock extra_css %}

{% block extra_js %}
<script src="{% static 'shop/js/shop_script.js' %}" defer></script>
{% endblock %}

{% block content %}
<div class="contact-form-container">
    <section aria-label="Logo of shop" class="contact-logo-wrapper text-center mb-4">
        <a href="{% url 'shop' %}">
            <img src="{% static 'shop/images/creative_spark_images_photography_shop_logo.png' %}"
            class="contact-logo-img"
            alt="Logo with shop name Creative Spark Images and an Art Deco Portrait of a female photographer">
        </a>
    </section>

    <h1>Contact Us</h1>
    
    <form method="post" novalidate>
        {% csrf_token %}

        <div class="mb-3">
            <label for="id_name" class="form-label">Name:</label>
            {{ form.name }}
        </div>

        <div class="mb-3">
            <label for="id_email" class="form-label">Email:</label>
            {% if form.email.errors %}
                <input type="email" name="email" id="id_email"
                       value="{{ form.email.value }}"
                       class="form-control is-invalid">
                <div class="invalid-feedback">
                    {{ form.email.errors.0 }}
                </div>
            {% else %}
                {{ form.email }}
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="id_message" class="form-label">Message:</label>
            {{ form.message }}
        </div>

        <button type="submit" class="btn-custom d-flex mx-auto px-5">Send</button>
    </form>
</div>
{% endblock %}
