{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'shop/css/shop.css' %}">
{% endblock extra_css %}

{% block extra_js %}
<script src="{% static 'shop/js/shop_script.js' %}" defer></script>
{% endblock %}

{% block content %}
<article aria-label="gallery page with image categories and link to product catalogue">
    <section class="container my-5" aria-label="section with search bar">
        <h1 class="text-center">Gallery</h1>
        
        <!-- Search Bar -->
        <div class="search-bar text-center my-4">
            <form method="GET" action="">
                <input type="text" name="q" placeholder="Browse catalogue..." class="form-control d-inline-block w-50">
                <button type="submit" class="btn btn-primary btn-custom search-button">Search</button>
            </form>
        </div>
    </section>   


    <!-- Image Theme Cards -->
    <section class="container-fluid col-md- col-xl-11 py-4" aria-label="image themes section with link to product catalogue">
        <div class="row g-4 justify-content-center">
            {% for theme in themes %}
            <div class="col-12 col-md-6">
                <div class="card h-100 shadow-md">
                    {% if theme.image %}
                        <img src="{{ theme.image.url }}" class="card-img" alt="{{ theme.title }}">
                    {% else %}
                        <img src="{% static 'shop/images/default-placeholder.jpg' %}" alt="Default Image" class="card-img-top">
                    {% endif %}
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title">{{ theme.title }}</h3>
                        <p class="card-text short-text">{{ theme.description|truncatewords:20 }}</p>
                        <p class="card-text full-text d-none">{{ theme.description }}</p>
                        <button class="btn btn-link read-more-btn mt-auto">Read More</button>
                        <br>
                        <a href="{% url 'images_by_theme' theme.slug %}" class="btn btn-primary mt-3 mx-auto btn-custom w-50">View Images</a>
                    </div>                
                </div>
            </div>
            {% empty %}
                <p class="text-center">No themes available.</p>
            {% endfor %}
        </div>
    </section>

    <!-- Back to Top Button -->
    <button id="backToTop" class="back-to-top-btn">⬆ Back to Top</button>
</article>
{% endblock %}