{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'shop/css/shop.css' %}">
{% endblock extra_css %}

{% block extra_js %}
<script src="{% static 'shop/js/shop_script.js' %}" defer></script>
{% endblock %}

{% block content %}
<section class="container my-5">
    <h1 class="text-center">Gallery</h1>
    
    <!-- Search Bar -->
    <div class="search-bar text-center my-4">
        <form method="GET" action="">
            <input type="text" name="q" placeholder="Search our image catalogue..." class="form-control d-inline-block w-50">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>



    <!-- Image Theme Cards -->
    <div class="row">
        {% for theme in themes %}
        <div class="col-md-6">
            <div class="card shadow-sm">
                {% if theme.image %}
                    <img src="{{ theme.image.url }}" class="card-img-top" alt="{{ theme.title }}">
                {% else %}
                    <img src="default-image.jpg" alt="Default Image">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ theme.title }}</h5>
                    <p class="card-text">{{ theme.description }}</p>
                    <a href="{% url 'images_by_theme' theme.slug %}" class="btn btn-primary">View Images</a>
                </div>
            </div>
        {% empty %}
            <p>No themes available.</p>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
