{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'shop/css/shop.css' %}">
{% endblock extra_css %}

{% block extra_js %}
<script src="{% static 'shop/js/shop_script.js' %}" defer></script>
{% endblock %}

{% block content %}
<section class="container my-5">
    <h1 class="text-center">{{ theme.title }}</h1>
    <p class="text-center">{{ theme.description }}</p>

    <div class="row">
        {% for image in images %}
        <div class="col-md-4">
            <div class="card shadow-sm">
                <img src="{{ theme.image.url|default:'no-image-added.jpg' }}" class="card-img-top" alt="{{ image.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ image.title }}</h5>
                    <p class="card-text">{{ image.description }}</p>
                    <p class="text-muted">Price: €{{ image.price }}</p>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-center">No images available in this theme.</p>
        {% endfor %}
    </div>
</section>
{% endblock %}
