{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'shop/css/shop.css' %}">
{% endblock extra_css %}

{% block extra_js %}
<script src="{% static 'shop/js/shop_script.js' %}" defer></script>
{% endblock %}

{% block content %}

<section #image-themes class="container-fluid gallery-background py-4">
    <h1 class="heading text-center">{{ theme.title }}</h1>
        <div class="row g-4 justify-content-center">
            {% for image in images %}
            <div class="col-12 col-sm-6 col-xl-4">
                <div class="image-card shadow-md">
                    <a href="{% url 'product_detail' image.id %}">
                        <img src="{{ image.image_preview.url|default:'no-image-added.jpg' }}" class="card-img" alt="{{ image.title }}">
                    </a>
                    <div class="card-body d-flex flex-column text-center">
                        <h4 class="card-title">{{ image.title }}</h4>
                        <p class="text-muted">Price: from €{{ image.price }}</p>
                        <p class="text-muted">Available licenses:</p>
                            <div class="license-tags">
                                {% for license in image.license_types.all %}
                                    <span class="license-tag">{{ license.name }}</span>
                                {% endfor %}
                            </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <hr>
            <p class="text-center"><strong>No images available in this theme.</strong></p>
            {% endfor %}
        </div>
</section>

<!-- Back to Gallery button -->
<a href="{% url 'gallery_page' %}" id="backToGallery" class="back-to-top-btn" aria-label="Back to Gallery">
    ⬅ Back to Gallery
</a>
<!-- Back to Top Button -->
<button id="backToTop" class="back-to-top-btn" aria-label="back to top button">⬆ Back to Top</button>
{% endblock %}
