/* Profile Page Styling */

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    padding: 4rem 2rem;
    min-height: 100vh;
    height: auto;
}

/* Carousel */
#profileCarousel {
    width: 100%;
    max-width: 57rem;
    margin: auto;
}

.carousel-inner {
    padding: 20px 0;
}

/* Carousel Controls */
.carousel-control-prev, .carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #550f0f;
    border-radius: 50%;
    padding: 10px;
}

/* Profile Cards */
.profile-card {
    background: rgb(200, 193, 193);
    margin-left: 10%;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    min-height: fit-content;
    overflow: hidden;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

/* Profile Titles */
.profile-title {
    font-family: "Poiret One", cursive;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

h2.profile-title {
    margin-top: 40px;
}

/* Profile Picture */
.profile-picture-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #7c7575;
}

/* Order History Card */
.order-history-item {
    background-color: #f9f9f9;
    border-left: 4px solid #005f73;
}

.order-history-item h6 {
    font-weight: 600;
}

/* Form Styling */
.profile-form {
    text-align: left;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    font-weight: bold;
    font-size: 0.9rem;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 8px;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-link {
    color: #403e3e;
}

/* Responsive Adjustments */
@media (min-width: 992px) {
    .profile-card{
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .profile-card{
        width: 100%;
        margin: 0;
    }
}
