{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}
<section class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow">
                <img src="{{ product.image_preview.url }}" class="card-img-top" alt="{{ product.title }}">
                <div class="card-body">
                    <h2 class="card-title">{{ product.title }}</h2>
                    <p class="card-text">{{ product.description }}</p>

                    {% if product.price %}
                    <p><strong>Price (excl. VAT):</strong> €{{ product.price }}</p>
                    {% endif %}

                    {% if product.product_types.all %}
                    <p><strong>Format:</strong>
                        {% for type in product.product_types.all %}
                            {{ type.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                    {% endif %}
                    <hr>
                    {% if product.license_types.all %}
                    <p><strong>License:</strong>
                        {% for license in product.license_types.all %}
                            <a href="{% url 'image_licenses' %}#{{ license.name|slugify }}">{{ license.name }}</a>
                            {% if not forloop.last %}, {% endif %}
                        {% empty %}
                           <p>No licenses attached to this product.</p>
                    {% endfor %}
                    </p>
                    {% endif %}

                    {% if product.print_types.all %}
                    <p><strong>Print Options:</strong>
                        {% for print in product.print_types.all %}
                            {{ print.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
